
.card-img-top {
  max-height: 170px;
  max-width: 180px;
  border-radius: 10px 10px 0px 0px;
}
.card {
  width: 180px;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card-title {
  font-size: 14px;
  font-family: pt-serif;
  font-style:normal;
  margin: 0;

}
.card-body {
  font-size: 12px;
  text-align: left;
  font-family: montserrat;
  font-style: italic;
  padding: 10px;
  position:relative;
}
.bookmark-container {
  position: absolute;
  top: 5px;
  right: 10px;
}
.seperator {
  width: 60%;
  border-bottom: 1px solid #F77F00;
  margin-bottom: 5px;
}



.heart-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  right: 0;
  border-radius: 0px 10px 0px 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 99.03%, rgba(255, 255, 255, 0.170435) 148.51%, rgba(255, 255, 255, 0) 158.93%);
}
.like-amount {
  font-family:sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.mdc-icon-button {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

}
.mdc-icon-button__icon {
  height: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
}
